gcp_fastai_0.7_workflow
project_template/*.ipynb
project_template/dask*
project_template/data/*
*/.ipynb_checkpoints
*/.ipynb_checkpoints/*
*/shared_dir/datasets/*
*/shared_dir/models/*
*/shared_dir/notebooks/*
.DS_Store
